body {
  min-width: 320px;
}

.navbar-bg-custom {
  background-color: $navbar-color;
  background-image: linear-gradient( to right, $color-blue-1, $color-blue-2, $color-blue-3);
}

.jumbotron-custom {
  background-color: $navbar-color;
  background-image: linear-gradient( to right, $color-blue-1-jumbotron, $color-blue-2-jumbotron, $color-blue-3-jumbotron),
    url('/assets/images/jumbotron-bg-bw.jpg');
  background-size: cover;

  border-radius: 0;
}

@include media-breakpoint-up(md) {
  .jumbotron-custom {
    height: 420px;
  }
}

h1 {
  color: $h1-color;
  font-weight: bold;
}

h2 {
  color: $h2-color;
  font-weight: bold;
}

h3 {
  color: $h3-color;
}

h4, h5, h6 {
  color: $h4-color;
}

li {
  padding-left: 1rem;
}
