---
layout: base
---

<div class="container">
  <div class="row sticky-top">
    <div class="col">
      {% include navigation.html %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-custom">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4">
      {{ content }}
    </div>
  </div>
</div>
